

  <body>
    <!-- Begin page -->
    <div id="wrapper">
      <!-- Topbar Start -->

      <div class="content-page">
        <div class="content">
          <!-- Start container-fluid -->
          <div class="container-fluid">
            <!-- start  -->
            <div class="row">
              <div class="col-12">
                <div>
                  <h4 class="header-title mb-3">Car List</h4>
                </div>
              </div>
            </div>
            <!-- end row -->

            <div class="row">
              <div class="col-12">
                <div>
                  <table
                    id="table"
                    class="table table-bordered dt-responsive nowrap"
                    style="
                      border-collapse: collapse;
                      border-spacing: 0;
                      width: 100%;
                    "
                  >
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Color</th>
                        <th>Type</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>Image</th>
                        <th>Brand</th>
                        <th></th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr *ngFor="let car of carlist">
                        <td>{{ car.id }}</td>
                        <td>{{ car.name }}</td>
                        <td>{{ car.color }}</td>
                        <td>{{ car.type }}</td>
                        <td>{{ car.available }}</td>
                        <td>{{ car.price }}</td>
                        <td>
                          <img
                            src="{{ car.image }}"
                            class="img-thumbnail"
                            alt="profile-image"
                          />
                        </td>
                        <td>{{ car.brandName }}</td>
                        <td>
                          <a [routerLink]="['/cartable', 'edit', car.id]"
                            >Edit</a
                          >
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- end -->
              </div>
            </div>
            <!-- end row -->
          </div>
          <!-- end container-fluid -->

 
          <!-- end Footer -->
        </div>
        <!-- end content -->
      </div>
      <!-- END content-page -->
    </div>
    <!-- END wrapper -->

    <!-- Right Sidebar -->
  </body>
