@import "/src/assets/css/app.min.css";
@import "/src/assets/css/bootstrap.min.css";
@import "/src/assets/css/css-1.css";
@import "/src/assets/css/css.css";
@import "/src/assets/css/icons.min.css";


body {
  width: 100vw;
}

.left-side-menu {
  margin-top: 2vh;
}

.tab-pane {
}




.p-0 {
  height: 100%;
  margin-top: 10%;
}

.avatar-xxl {
  height: 20vh;
  width: 20vh;
}

.rounded-circle {
  width: 20vh;
  height: 20vh;
}
