<!DOCTYPE html>


  <body>
    <!-- Begin page -->
    <div id="wrapper">
      <!-- Topbar Start -->

      <!-- end Topbar -->
      <!-- ========== Left Sidebar Start ========== -->
      <!-- Left Sidebar End -->

      <!-- ============================================================== -->
      <!-- Start Page Content here -->
      <!-- ============================================================== -->

      <div class="content-page">
        <div class="content">
          <!-- Start container-fluid -->
          <div class="container-fluid">
            <!-- start  -->
            <div class="row">
              <div class="col-12">
                <div>
                  <h4 class="header-title mb-3">Client Table</h4>
                </div>
              </div>
            </div>
            <!-- end row -->

            <div class="row">
              <div class="col-12">
                <div>
                  <!-- <h5 class="font-14">KeyTable example</h5>
                  <p class="sub-header"></p> -->

                  <table
                    id="table"
                    class="table table-bordered"
                    style="
                      border-collapse: collapse;
                      border-spacing: 0;
                      width: 100%;
                    "
                  >
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>Fullname</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Role</th>
                        <th>Status</th>
                        <th>Avatar</th>
                        <!-- <th>Brand</th> -->
                        <th>Deactivate</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr
                        role="row"
                        class="odd"
                        *ngFor="let account of accountList"
                      >
                        <td>{{ account.id }}</td>
                        <td>{{ account.fullname }}</td>
                        <td>{{ account.email }}</td>
                        <td>{{ account.phone }}</td>
                        <td *ngIf="account.role == '2'">Client</td>
                        <td>
                          <input
                            disabled="true"
                            type="checkbox"
                            [checked]="account.isDeactivated"
                          />
                        </td>
                        <td>
                          <img
                            src="{{ account.avatar }}"
                            class="img-thumbnail"
                            width="200px"
                            height="50px"
                            style="align-self: center"
                            alt="profile-image"
                          />
                        </td>
                        <td>
                          <button
                            class="btn btn-danger"
                            (click)="changeStatus(account.id)"
                          >
                            Change Status
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- end -->
              </div>
            </div>
            <!-- end row -->
          </div>
          <!-- end container-fluid -->

          <!-- Footer Start -->
          <footer class="footer">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  2017 - 2020 &copy; Simple theme by <a href="">Coderthemes</a>
                </div>
              </div>
            </div>
          </footer>
          <!-- end Footer -->
        </div>
        <!-- end content -->
      </div>
      <!-- END content-page -->
    </div>
    <!-- END wrapper -->

    <!-- Right Sidebar -->
    <!-- <div class="right-bar">
      <div class="rightbar-title">
        <a href="javascript:void(0);" class="right-bar-toggle float-right">
          <i class="mdi mdi-close"></i>
        </a>
        <h5 class="font-16 m-0 text-white">Theme Customizer</h5>
      </div>
      <div class="slimscroll-menu">
        <div class="p-4">
          <div class="alert alert-warning" role="alert">
            <strong>Customize </strong> the overall color scheme, layout, etc.
          </div>
          <div class="mb-2">
            <img
              src="assets\images\layouts\light.png"
              class="img-fluid img-thumbnail"
              alt=""
            />
          </div>
          <div class="custom-control custom-switch mb-3">
            <input
              type="checkbox"
              class="custom-control-input theme-choice"
              id="light-mode-switch"
              checked=""
            />
            <label class="custom-control-label" for="light-mode-switch"
              >Light Mode</label
            >
          </div>

          <div class="mb-2">
            <img
              src="assets\images\layouts\dark.png"
              class="img-fluid img-thumbnail"
              alt=""
            />
          </div>
          <div class="custom-control custom-switch mb-3">
            <input
              type="checkbox"
              class="custom-control-input theme-choice"
              id="dark-mode-switch"
              data-bsstyle="assets/css/bootstrap-dark.min.css"
              data-appstyle="assets/css/app-dark.min.css"
            />
            <label class="custom-control-label" for="dark-mode-switch"
              >Dark Mode</label
            >
          </div>

          <div class="mb-2">
            <img
              src="assets\images\layouts\rtl.png"
              class="img-fluid img-thumbnail"
              alt=""
            />
          </div>
          <div class="custom-control custom-switch mb-5">
            <input
              type="checkbox"
              class="custom-control-input theme-choice"
              id="rtl-mode-switch"
              data-appstyle="assets/css/app-rtl.min.css"
            />
            <label class="custom-control-label" for="rtl-mode-switch"
              >RTL Mode</label
            >
          </div>

          <a
            href="https://1.envato.market/EK71X"
            class="btn btn-danger btn-block mt-3"
            target="_blank"
            ><i class="mdi mdi-download mr-1"></i> Download Now</a
          >
        </div>
      </div>
       end slimscroll-menu-->
    <!-- </div> -->
    <!-- /Right-bar -->

    <!-- Right bar overlay-->
    <!-- <div class="rightbar-overlay"></div> -->

    <!-- <a href="javascript:void(0);" class="right-bar-toggle demos-show-btn">
      <i class="mdi mdi-settings-outline mdi-spin"></i> &nbsp;Choose Demos
    </a> -->
  </body>

