.outside {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 100;
}

/*:host{*/
/*  position: fixed;*/
/*  background-color: rgba(255,255,255,0.5);*/
/*  top: 0;*/
/*  right: 0;*/
/*  height: 100%;*/
/*  width: 100%;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: center;*/
/*  z-index: 100;*/
/*}*/
#myModal {
  background-color: rgba(211, 211, 211, 0.8);
  height: 30%;
  width: 30%;
  margin: auto;
  border-radius: 10px;
  padding: 0.5%;
}

#myModal #myModal--Noti {
  display: inline-flex;
  border-bottom: black;
  border-bottom-style: solid;
  width: 100%;
}

#myModal--Noti p {
  /*margin-bottom: 0;*/
  font-size: 150%;
  font-weight: bold;
}

#myModal--logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 30%;
  font-size: 200%;
  position: relative;
  top: 13%;
  text-align: center;
}

#myModal--content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 200%;
  font-weight: bold;
  text-align: center;
  height: 50%;
}