#topNav{
    background-color:#f5f5f5;
    height:7vh;
    display:flex;
}

.topNav--Icon{
    background-color:antiquewhite;
/*    position:absolute;?*/
/*    width:10vw;*/
    height:100%;
    width:20%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin:0;
}
.topNav--Icon i{
    font-size:320%;
}
#topNav--Avatar {
  background-color: aqua;
  width: 30%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center
}
  #topNav--Avatar img {
    background-color: aqua;
    width: 5vh;
    height: 5vh;
    border-radius: 100%;
    ;
  }
