@import "/src/assets/css/app.min.css";
@import "/src/assets/css/bootstrap.min.css";
@import "/src/assets/css/css-1.css";
@import "/src/assets/css/css.css";
@import "/src/assets/css/icons.min.css";


.navbar-custom {
  background-color: white;
  width: 90vw;
  margin-left:5vw;
  margin-right:5vw;
  margin-bottom:1vh;
  margin-top:1vh;
}

.logo-box:hover{
    cursor:pointer;
}
